<!-- templates/editar_usuario.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuario</title>
     <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/slate/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2>Editar Usuario</h2>
    <form method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Correo</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ usuario.email }}" required>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="username" name="username" value="{{ usuario.username }}" required>
        </div>
        <div class="mb-3">
            <label for="role" class="form-label">Rol</label>
            <select class="form-control" id="role" name="role">
                <option value="user" {% if usuario.role == 'user' %}selected{% endif %}>Usuario</option>
                <option value="admin" {% if usuario.role == 'admin' %}selected{% endif %}>Administrador</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        <a href="{{ url_for('main.admin_usuarios') }}" class="btn btn-secondary">Volver</a>
    </form>
</div>
</body>
</html>